// Source: https://www.imarketinx.de/artikel/html-accordion-details-and-summary.html

.wrapper-faq {
  margin-top: 3rem;
}

details {
  padding: 0.75rem 0;
  border-bottom: 0.05rem solid $gray-700;
}

.wrapper-faq details:first-child {
  border-top: 0.05rem solid $gray-700;
}

details p {
  font-size: $font-size-md;
  line-height: $line-height-base;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

summary {
  padding: 0.75rem 0;
  font-size: $font-size-md;
  line-height: $line-height-base;
  cursor: pointer;
  list-style: none; /* Triangle not shown */
}

@include media-breakpoint-up(lg) {
  .wrapper-faq {
    margin-top: 4.5rem;
  }

  details p {
    font-size: $font-size-lg;
  }

  summary {
    font-size: $font-size-lg;
  }
}

/* Triangle not shown - Style for Webkit-Browser */
summary::-webkit-details-marker {
  display: none;
}

summary::before {
  padding-right: 1rem;
  content: "\2193";  /* Instead of Triangle closed */
}

details[open] summary::before {
  padding-right: 1rem;
  content: "\2191"; /* Instead of Triangle open */
}

summary:focus {
  outline: 0;
}

/* Styling the summary in case of open 'details' */
details[open] summary {
  margin-bottom: 1rem;
}

details[open] p:last-child {
  margin-bottom: 1rem;
}
