input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 0.05rem solid #ddd;
  display: block;
  margin: 0;
  max-width: 100%;
  outline: none;
  padding: 0.6875rem 1.1875rem;
  width: 100%;
  font-size: 1rem;
  color: $gray-900;
}

textarea {
  height: 20rem;
  line-height: 1.5;
  width: 100%;
}

input::-webkit-input-placeholder { color: #999; }
input::-moz-placeholder { color: #999; }
input:-ms-input-placeholder { color: #999; }

textarea::-webkit-input-placeholder { color: #999; }
textarea::-moz-placeholder { color: #999; }
textarea:-ms-input-placeholder { color: #999; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button,
.faux-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #111;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 0.625rem 2rem;
}

button:hover,
.faux-button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #333;
  cursor: pointer;
}

button:focus,
.faux-button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background: #333;
}

.input-group > input {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  margin-right: 0.5rem;
}
