{{ define "main" }}
<div class="row">
  <div class="col-lg-9 offset-lg-1">
    <span class="sr-only">{{ partial "page-header" . }}</span>
    <p class="lead">{{ .Params.Lead | safeHTML }}</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UZ5BY8WTJZC9S&source=url">Make a Donation</a></li>
      <li class="list-inline-item"><a href="/faq/">FAQ</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    {{.Content}}
    <ul class="posts list-unstyled">
      {{ range .Paginator.Pages }}
      <article>
        <li>
          <a href="{{.Permalink}}"><span class="title"><span>{{.Title}}</span></span><time class="meta">{{.Date.Format "Jan 2006"}}</time></a>
        </li>
      </article>
      {{ end }}
    </ul>
    <nav class="list-navigation nav flex-column">
      {{ partial "list-navigation" . }}
    </nav>
  </div>
</div>
{{ end }}
