<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head" . }}
<body{{ with .Layout }} class="{{ . }}"{{ end }}>
  <div class="wrap container-fluid" role="document">
    <div class="row">
      <div class="sidebar col-lg-3">
        <div class="d-flex align-items-start flex-column h-100">
          {{ partial "header" . }}
          {{ partial "main-menu" . }}
          {{ partial "social-menu-sidebar" . }}
        </div>
      </div>
      <div class="content col offset-lg-3">
        <main class="main">
          <article>
            {{ block "main" . }}{{ end }}
          </article>
        </main>
      </div>
    </div>
  </div>
  {{ partial "script-footer" . }}
</body>
</html>