[build]
  command = "bun run build"
  publish = "dist"
  functions = "functions"

[build.environment]
  NODE_VERSION = "22.20.0"
  NPM_VERSION = "10.9.3"

# Redirects and rewrites — https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file
[[redirects]]
  from = "/blog/email-obfuscation/"
  to = "/blog/"
  status = 301
  force = true

[[redirects]]
  from = "/blog/diataxis-doks/"
  to = "/blog/"
  status = 301
  force = true

[[redirects]]
  from = "/blog/plausible-thulite/"
  to = "/blog/"
  status = 301
  force = true

[[redirects]]
  from = "/blog/starlight-navbar-links/"
  to = "/blog/"
  status = 301
  force = true

[[redirects]]
  from = "/js/script.js"
  to = "https://plausible.io/js/script.js"
  status = 200
  force = true

[[redirects]]
  from = "/api/event"
  to = "https://plausible.io/api/event"
  status = 200
  force = true

# Custom headers — https://docs.netlify.com/routing/headers/#syntax-for-the-netlify-configuration-file
[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    # Content-Security-Policy = "default-src 'self'; manifest-src 'self'; connect-src 'self' https://plausible.io/api/event; font-src 'self'; img-src 'self' data:; script-src 'self' https://plausible.io/js/script.js 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-src 'self'"
    Content-Security-Policy = "default-src 'self'; manifest-src 'self'; connect-src 'self' https://plausible.io/api/event; font-src 'self'; img-src 'self' data:; script-src 'self' https://plausible.io/js/script.js 'unsafe-inline'; style-src 'self'; frame-src 'self'"
    X-Frame-Options = "SAMEORIGIN"
    Referrer-Policy = "strict-origin"
    Permissions-Policy = "geolocation=(self), microphone=(), camera=()"
    Cache-Control= '''
    public,
    max-age=31536000'''
    Access-Control-Allow-Origin = "*"
