<div class="row">
  <div class="col-lg-7 offset-lg-1">
    <h3 class="related section-label monospace underline-dash">Tags</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-11 offset-lg-1">
    <div class="category-cards">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags -}}
      <div class="card category-card">
        <div class="card-body">
          <a class="monospace card-link" href="{{ "/tags/" | absURL }}{{ $name | urlize }}/">{{ $name | humanize | title }} ({{ $taxonomy.Count }})</a>
        </div>
      </div>
      {{ end -}}
    </div>
  </div>
</div>
