{{ define "main" }}
<article>
  <div class="row">
    <div class="col-lg-7 offset-lg-2">
      {{ .Render "meta" -}}
      <h1>{{ .Title }}</h1>
      {{ if .Params.series -}}
        {{ $name := index .Params.series 0 }}<p class="meta monospace mb-4"><a href="{{ "/series/" | absURL }}{{ $name | urlize }}/">{{ $name }}</a></p>
      {{ end -}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-2">
      {{ .Content }}
      {{ .Render "tags" -}}
      {{ if .Params.series -}}
        {{ partial "content/serie-navigation.html" . -}}
      {{ end -}}
    </div>
    <div class="col-lg-2 offset-lg-1 align-self-end">
      <div class="sidebar">
        {{ partial "sidebar/share.html" . -}}
      </div>
    </div>
  </div>
</article>
{{ end }}

{{ define "sidebar-footer" }}
<div class="section">
  <div class="container">
    {{ partial "sidebar/single-navigation.html" . -}}
  </div>
</div>
{{ end }}