{{ define "main" }}
<article>
  <div class="row">
    <div class="col-lg-7 offset-lg-2">
      {{ .Render "meta" -}}
      <h1>{{ .Title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-2">
      {{ .Content }}
    </div>
    <div class="col-lg-3">
      <div class="sidebar">
        {{ partial "sidebar/share.html" . -}}
      </div>
    </div>
  </div>
</article>
{{ end }}

{{ define "sidebar-footer" }}
<div class="section">
  <div class="container">
    {{ partial "sidebar/single-navigation.html" . -}}
  </div>
</div>
{{ end }}