footer {
  padding: 2rem 0;
}

.nav-link {
  @include font-size(1.25rem);

  color: $color-text-primary;
}

.nav-link:hover,
.nav-link:focus {
  color: $color-text-primary;
}

footer .nav-item:first-child .nav-link {
  padding-left: 0;
}

@include media-breakpoint-up(md) {
  footer .nav-item:first-child .nav-link {
    padding-left: 1rem;
  }

  footer .nav-item:last-child .nav-link {
    padding-right: 0;
  }
}

.nav-text {
  @include font-size(1.25rem);

  color: $color-text-primary;
  margin: 0.5rem 0;
}

@include media-breakpoint-up(md) {
  footer .nav-text {
    margin: 0 1rem 0 0;
  }
}

.nav-link .nav-name {
  border-bottom: 0.125rem solid transparent;
}

.nav-link:hover .nav-name,
.nav-link:focus .nav-name {
  border-bottom: 0.125rem solid $color-text-primary;
}
