.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: $font-size-xl;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
  padding-right: 1.125rem;
  padding-left: 0;
}

@include media-breakpoint-up(md) {
  .navbar-nav .nav-item:not(:last-child) .nav-link {
    padding-right: 1.5rem;
    padding-left: 0;
  }
}
