.featured-posts h2 {
  margin: 2rem 0 0.5rem;
}

@include media-breakpoint-up(md) {
  .featured-posts h2:first-child.featured {
    margin: 0 0 0.5rem;
  }
}

.featured-posts p.meta {
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .featured-posts p.meta {
    font-size: $font-size-base;
  }
}

.category-cards {
  margin: 3rem 0 0.5rem;
}

.category-card {
  border: 0;
  width: 12.5rem;
  height: 9.25rem;
  margin-right: 1.25rem;
}

.category-card .card-body {
  padding: 3.75rem 1.25rem;
}

.category-card a {
  font-size: $font-size-sm;
  color: $gray-950;
}

@include media-breakpoint-up(md) {
  .category-card a {
    font-size: $font-size-base;
  }
}

.featured-posts h2 a {
  color: $gray-950;
}

.category-card a:hover,
.category-card a:focus {
  color: $primary;
}

.featured-posts h2 a:hover,
.featured-posts h2 a:focus {
  color: $primary;
}
