p.meta-header {
  color: $color-text-content-info;
  margin: 1.5rem 0;
}

p.meta-footer {
  color: $color-text-content-info;
  margin: 2rem 0;
}

p.meta-footer a {
  color: $color-text-content-info;
  text-decoration: none;
}

.content blockquote {
  margin: 1em 0;
  border-left: 4px solid $color-text-content-quote-line;
  padding-left: 1em;
  color: $color-text-content-quote;
  font-size: $font-size-text-content-quote;
  font-family: inherit;
}
