.section p.meta {
  font-size: $font-size-base;
  color: $gray-550;
  margin-top: 1rem;
}

.section .related-posts p.meta {
  margin-top: 3rem;
}

.section h4 {
  font-size: $font-size-md;
  margin-top: 3rem;
  line-height: 1.5;
}

@include media-breakpoint-up(md) {
  .section h4 {
    font-size: $font-size-lg;
  }
}

.section .related-posts h4 {
  margin-top: 0;
}

.section h4 a {
  color: $gray-900;
}

.section p.meta a {
  color: $gray-550;
}

.section h4 a:hover,
.section h4 a:focus {
  color: $primary;
}

.section p.meta a:hover,
.section p.meta a:focus {
  color: $primary;
}

@include media-breakpoint-down(md) {
  .sidebar {
    margin-top: 1.5rem;
  }

  .sidebar .list-unstyled li {
    display: inline-block;
  }

  .sidebar .list-unstyled li:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.sidebar .list-unstyled {
  margin: 1.5rem 0;
}

@include media-breakpoint-up(lg) {
  .sidebar .list-unstyled li {
    margin: 0.25rem 0;
  }
}

.sidebar a.share-link {
  color: $gray-900;
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .sidebar a.share-link {
    font-size: $font-size-base;
  }
}

.sidebar a:hover.share-link,
.sidebar a:focus.share-link {
  color: $primary;
}
