.alert {
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .alert {
    font-size: $font-size-base;
  }
}

.alert-icon {
  margin-right: 0.75rem;
}

.home .alert .container {
  padding-left: 0;
  padding-right: 0;
}

@include media-breakpoint-up(lg) {
  .home .alert .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.blog .alert {
  margin: 2rem -1.5rem;
}

@include media-breakpoint-up(md) {
  .blog .alert {
    margin: 2rem 0;
  }
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $gray-150;
  background-color: $gray-900;
}

.alert-dark .alert-link {
  color: $gray-150;
}

.alert-light {
  color: $gray-900;
  background: $gray-150;
}

.alert-light .alert-link {
  color: $gray-900;
}

.alert-primary {
  color: $gray-150;
  background-color: $primary;
}

.alert-primary .alert-link {
  color: $gray-150;
}

.alert-gradient-mint-blue-dark {
  background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  color: $gray-900;
}

.alert-gradient-mint-blue-dark .alert-link {
  color: $gray-900;
}

.alert-gradient-turq-purple-dark {
  background: linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
  color: $gray-900;
}

.alert-gradient-turq-purple-dark .alert-link {
  color: $gray-900;
}

.alert-gradient-pink-blue {
  background: linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
  color: $gray-150;
}

.alert-gradient-pink-blue .alert-link {
  color: $gray-150;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}

.home .alert .alert-link:hover,
.home .alert .alert-link:focus {
  text-decoration: underline;
}
