.alert {
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .alert {
    font-size: $font-size-base;
  }
}

.alert-icon {
  margin-right: 0.75rem;
}

.blog .alert {
  margin: 2rem -1.5rem;
}

@include media-breakpoint-up(md) {
  .blog .alert {
    margin: 2rem 0;
  }
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $gray-150;
  background-color: $gray-900;
}

.alert-dark .alert-link {
  color: $gray-150;
}

.alert-light {
  color: $gray-900;
  background: $gray-150;
}

.alert-primary {
  color: $gray-150;
  background-color: $primary;
}

.alert-primary .alert-link {
  color: $gray-150;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}
