.alert {
  font-size: $font-size-small;
  padding: 1.75rem 0;
}

.alert .alert-link {
  text-decoration: underline;
  font-weight: 400;
}

.alert-dark .alert-link {
  color: $white;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: underline;
}

.alert-dark {
  color: $white;
  background-color: $gray-900;
}

.alert a.external {
  white-space: nowrap;
  margin-right: 1em;
}

.alert a.external::after {
  content: "\2197";
  position: absolute;
  text-decoration: none;
  border-bottom: 0;
}
