pre {
  background: $color-background-content-code;
  padding: 1em;
  display: block;
  margin: 1em 0;
  overflow: auto;
  font-size: 1em;
  line-height: 1.4;
}

code {
  @include font-size(1.25rem);

  color: $color-text-content-body;
  word-wrap: break-word;
}

pre code {
  line-height: 1.4;
  // font-size: $font-size-content-code;

  @include font-size(1.0625rem);

  color: $color-text-content-body;
  word-break: normal;
}

a > code {
  color: inherit;
}
