/*

docs.github.com style — © 2021 GitHub, Inc.

*/

/*
.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #24292e;
  background: #fafbfc
}
*/

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #24292e;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #176f2c;
}

.hljs-string,
.hljs-doctag {
  color: #005cc5;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #9e1c23;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #044289;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #044289;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #176f2c;
}

.hljs-symbol,
.hljs-bullet {
  color: #6f42c1;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #044289;
}

.hljs-meta {
  color: #6a737d;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdaeb7;
}

.hljs-addition {
  background: #bef5cb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
