.footer {
  padding: 1rem 0.5rem
}

.single:not(.home, .error404) .footer {
  padding: 1rem 2rem
}

.footer p {
  font-size: $font-size-sm;
  color: $contrast-2;
  font-weight: 300;
}

.footer p a {
  color: $contrast-2;
  text-underline-offset: 0.2em;
}
