p.meta {
    margin-top: 1rem;
    font-size: $font-size-base;
    font-family: $font-family-monospace;
    color: $gray-dark;
  }

  @include media-breakpoint-down(sm) {
    p.meta {
      font-size: $font-size-base * 0.9375;
    }
  }

  p.meta a {
    color: $gray-dark;
  }

  p.meta a:hover,
  p.meta a:focus {
    color: $primary;
  }

  @include media-breakpoint-down(md) {
    .col-start {
      min-height: 132vw;
      // min-height: 100vw;
    }
  }

  .img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  @include media-breakpoint-up(md) {
    .row-main {
      min-height: 100vh;
    }
  }

  .single:not(.home, .error404) header {
    position: static!important;
  }

  .single:not(.home, .error404) main {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include media-breakpoint-up(sm) {
    .single:not(.home, .error404) main {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  main .col-12 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include media-breakpoint-up(md) {
    main .col-12 {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @include media-breakpoint-up(xxl) {
    main .col-12 {
      padding-left: 2.5rem;
      padding-right: 5rem;
    }

    main .col-xl-11 {
      max-width: 625px;
    }

    main .col-xl-9 {
      max-width: 500px;
    }
  }

  main p {
    font-weight: $font-weight-light;
    font-size: $font-size-base;
    margin-top: 2rem;
  }

  .single:not(.home, .error404) main h1 {
    margin-bottom: 3rem;
  }

  .single:not(.home, .error404) main p {
    margin: 1.5rem 0;
  }

  .single:not(.home, .error404) main li {
    font-weight: $font-weight-light;
    font-size: $font-size-base;
    margin: 0.5rem 0;
  }

  main .bio a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
  }

  main .bio a:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(sm) {
    main p {
      margin-top: 3rem;
    }
  }

  main .list-unstyled {
    margin: 2rem 0;
  }

  @include media-breakpoint-up(md) {
    main .list-unstyled {
      margin: 3rem 0;
    }
  }

  main .list-unstyled li {
    border-top: 1px solid currentColor;
    padding: 0.875rem 0;
  }

  main .list-unstyled li a {
    font-family: $font-family-monospace;
    font-weight: $font-weight-light;
    font-size: $font-size-base;
    color: $contrast;

    display: block;
    width: 100%;
    padding-right: 3.125em;
    position: relative;
  }

  main .list-unstyled li a:hover {
    text-decoration: none;
  }

  main .list-unstyled li a:after {
    background: currentColor;
    content: "";
    display: block;
    height: 1rem;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 7H0' stroke='%23ECECE9' stroke-width='1.2'/%3E%3Cpath d='M12 1L18 7L12 13' stroke='%23ECECE9' stroke-width='1.2'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 7H0' stroke='%23ECECE9' stroke-width='1.2'/%3E%3Cpath d='M12 1L18 7L12 13' stroke='%23ECECE9' stroke-width='1.2'/%3E%3C/svg%3E%0A");
      -webkit-mask-position: center;
    mask-position: center;
      -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
      right: 1rem;
      top: 0.25rem;
    transition: transform .4s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    width: 1.25em;
  }

  @media( prefers-reduced-motion: no-preference ) {
    main .list-unstyled li a:hover:after {
      transform: translateX( 1em );
    }
  }

  main .list-inline-item {
    transition: transform .1s ease
  }

  @media (prefers-reduced-motion:reduce) {
    main .list-inline-item {
      transition-delay: 0s;
      transition-duration: 0s
    }
  }

  main .list-inline-item:hover {
    transform: scale(1.1)
  }

  /*
  @media (prefers-reduced-motion:reduce) {
    main .list-inline-item:hover {
      transform: none;
    }
  }
  */

  .btn-light.btn-social {
    border-radius: 50%;
    line-height: 0;
    padding: 0.5625rem;
    background-color: $contrast;
    color: $base;
    border-color: $contrast;
  }

  .btn-lightbtn-social:hover,
  .btn-light.btn-social:focus {
    background-color: $contrast;
    color: $base;
    border-color: $contrast;
  }
