.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.img {
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
}

::selection {
  background: #111;
  color: #fff;
}

a {
  transition: all 0.1s linear;
}

.sidebar {
  background-color: #fff;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 3rem;
}

@include media-breakpoint-down(md) {
  .sidebar .social-menu {
    display: none;
  }
}

.sidebar a.site-title {
  color: rgba(45, 55, 65, 0.85);
  font-size: 1.25rem;
  font-weight: 500;
}

.sidebar a.site-title:hover {
  text-decoration: none;
}

.sidebar a.nav-link {
  border: none;
  color: rgba(45, 55, 65, 0.5);
  line-height: 1.1;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem 1.25rem 0.25rem 0;
}

.content a.nav-link {
  border: none;
  color: rgba(45, 55, 65, 0.85);
  line-height: 1.1;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.sidebar a.nav-link:hover,
.sidebar a.nav-link.active {
  color: rgba(45, 55, 65, 0.85);
}

.content {
  padding-bottom: 5rem;
}

.content .section-navigation {
  background: #fff;
  margin-top: 5rem;
}

.content a.nav-link .arrow {
  margin-right: 0.75rem;
}

.content a.nav-link:hover .title {
  border-bottom: 0.0625em solid rgba(45, 55, 65, 0.85);
  transition: all 0.1s linear;
}

@include media-breakpoint-up(lg) {
  .sidebar {
    position: fixed;
    height: 100%;
    padding: 5rem 0 5rem 5rem;
    margin-bottom: 0;
  }

  .sidebar .main-menu {
    margin-top: 5rem;
  }

  .sidebar a.nav-link {
    padding: 0.5rem 0;
  }

  .content {
    padding-top: 11rem;
  }
}
