@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  }
}

::selection {
  background: $black;
  color: $white;
}

a {
  transition: all 0.1s linear;
}

.content a.nav-link {
  border: none;
  color: $gray-900;
  line-height: $line-height-xs;
  text-decoration: none;
  font-size: $font-size-md;
  padding: 0.5rem 0;
}

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content .section-navigation {
  margin-top: 3rem;
}

.content a.nav-link .arrow {
  margin-right: 0.75rem;
}

.content a.nav-link:hover .title {
  border-bottom: 0.0625em solid $gray-900;
  transition: all 0.1s linear;
}

@include media-breakpoint-up(lg) {
  .content {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }

  .content .section-navigation {
    margin-top: 5rem;
  }

  .content a.nav-link {
    font-size: $font-size-lg;
  }
}

.main ul {
  margin-bottom: 1.5rem;
}

.main li {
  font-size: $font-size-md;
  margin: 0.5rem 0;
}

@include media-breakpoint-up(lg) {
  .main ul {
    margin-bottom: 2rem;
  }

  .main li {
    font-size: $font-size-lg;
    margin: 0.5rem 0;
  }
}

.main h2,
.main .h2 {
  font-size: $font-size-xl;
  margin: 2.5rem 0 1.5rem;
}

.main h3,
.main .h3 {
  font-size: $font-size-lg;
  margin: 2.5rem 0 1.5rem;
}

@include media-breakpoint-up(lg) {
  .main h2,
  .main .h2 {
    font-size: $font-size-xxl;
    margin: 3.75rem 0 1.5rem;
  }

  .main h3,
  .main .h3 {
    font-size: $font-size-xl;
    margin: 3.75rem 0 1.5rem;
  }
}
