.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.img {
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
}

::selection {
  background: #111;
  color: #fff;
}

a {
  transition: all 0.1s linear;
}

.sidebar {
  background-color: #fff;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 3rem;
}

@include media-breakpoint-down(md) {
  .sidebar .social-menu {
    display: none;
  }
}

.sidebar a.site-title {
  color: rgba(45, 55, 65, 0.85);
  font-size: 1.125rem;
  font-weight: 500;
}

.sidebar a.site-title:hover {
  text-decoration: none;
}

.sidebar a.nav-link {
  border: none;
  color: rgba(45, 55, 65, 0.5);
  line-height: 1.1;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 1rem 1.25rem 0.25rem 0;
}

.content a.nav-link {
  border: none;
  color: rgba(45, 55, 65, 0.85);
  line-height: 1.1;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 0.5rem 0;
}

.sidebar a.nav-link:hover,
.sidebar a.nav-link.active {
  color: rgba(45, 55, 65, 0.85);
}

.content .social-menu a.nav-link {
  border: none;
  color: rgba(45, 55, 65, 0.5);
  line-height: 1.1;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 1rem 0 0;
  margin-bottom: 1.25rem;
}

.content .social-menu a.nav-link:hover {
  color: rgba(45, 55, 65, 0.85);
}

@include media-breakpoint-up(lg) {
  .sidebar a.site-title {
    font-size: 1.25rem;
  }

  .sidebar a.nav-link {
    font-size: 1.25rem;
  }
}

.content {
  padding-bottom: 5rem;
}

.content .section-navigation {
  margin-top: 3rem;
}

.content a.nav-link .arrow {
  margin-right: 0.75rem;
}

.content a.nav-link:hover .title {
  border-bottom: 0.0625em solid rgba(45, 55, 65, 0.85);
  transition: all 0.1s linear;
}

@include media-breakpoint-up(lg) {
  .sidebar {
    position: fixed;
    height: 100%;
    padding: 5rem 0 5rem 5rem;
    margin-bottom: 0;
  }

  .sidebar .main-menu {
    margin-top: 5rem;
  }

  .sidebar a.nav-link {
    padding: 0.5rem 0;
  }

  .content {
    padding-top: 11rem;
  }

  .content .section-navigation {
    margin-top: 5rem;
  }

  .content a.nav-link {
    font-size: 1.25rem;
  }

  .content .social-menu {
    display: none;
  }
}

.main ul {
  margin-bottom: 1.5rem;
}

.main li {
  font-size: 1.125rem;
  margin: 0.5rem 0;
}

@include media-breakpoint-up(lg) {
  .main ul {
    margin-bottom: 2rem;
  }

  .main li {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
}

.main h2,
.main .h2 {
  font-size: 1.5rem;
  margin: 2.5rem 0 1.5rem;
}

.main h3,
.main .h3 {
  font-size: 1.25rem;
  margin: 2.5rem 0 1.5rem;
}

@include media-breakpoint-up(lg) {
  .main h2,
  .main .h2 {
    font-size: 1.75rem;
    margin: 3.75rem 0 1.5rem;
  }

  .main h3,
  .main .h3 {
    font-size: 1.5rem;
    margin: 3.75rem 0 1.5rem;
  }
}

.main blockquote {
  padding: 0 2rem;
  margin: 3rem 0;
}

.main blockquote p {
  font-size: 1.5rem;
}

.main .blockquote-footer {
  margin-top: 0.5rem;
}

pre,
code,
kbd,
samp {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 0.9rem;
}

pre {
  background: #152025;
  color: #fff;
  line-height: 1.7;
  margin: 3rem 0;
  overflow: auto;
  padding: 5%;
  tab-size: 4;
}

code {
  background: #e0e4e7;
  color: $gray-900;
  padding: 0.3rem 0.5rem;
}

pre code {
  background: none;
  font-size: inherit;
  padding: 0;
}

code a {
  border-bottom-color: rgba(45, 55, 65, 0.85);
}
