/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$_f1f1f1: #f1f1f1;
$_f0f0f0: #f0f0f0;
$_e0e4e7: #e0e4e7;
$_ddd:    #ddd;
$_999:    #999;
$_333:    #333;
$_152025: #152025;
$_111:    #111;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: rgba(45, 55, 65, 0.85);
$black:    #000;

$theme-colors: (
  primary: $gray-900
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
$font-family-monospace:       Menlo, Consolas, monaco, monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 1.75;
