---
import Button from '@components/Button.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

// No need for getStaticPaths on a 404 page
// Define the page content directly
const title = 'Page Not Found';
const description = "The page you're looking for doesn't exist.";
---

<BaseLayout title={title} description={description} showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <p>Sorry, this page doesn't exist. It may have been moved or deleted.</p>
            <p>
                <Button href="/">Return to homepage</Button>
            </p>
        </div>
    </article>
</BaseLayout>
