{{ define "main" }}
{{ partial "content/page-header.html" . -}}
<div class="featured-posts">
  <div class="row">
    <div class="col-lg-6 offset-lg-1">
    {{ range first 1 .Data.Pages -}}
      {{ .Render "featured-first" -}}
    {{ end -}}
    </div>
    <div class="col-lg-5">
    {{ range first 3 (after 1 .Data.Pages) -}}
      {{ .Render "featured" -}}
    {{ end -}}
    </div>
  </div>
</div>
{{ end }}

{{ define "sidebar-prefooter" }}
<div class="section">
  <div class="container">
    {{ partial "sidebar/tag-navigation.html" . -}}
  </div>
</div>
{{ end }}

{{ define "sidebar-footer" }}
<div class="section bg-white">
  <div class="container">
    {{ partial "content/list-header.html" . -}}
    <div class="post-list">
    {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) }}
    {{ range $paginator.Pages -}}
      {{ partial "content/post-list-item.html" . -}}
    {{ end -}}
    </div>
    {{ partial "content/pagination.html" . -}}
  </div>
</div>
{{ end }}