<div class="container-fluid">
  <footer class="d-flex flex-column flex-md-row align-items-md-center">
    <p class="nav-text order-2 order-md-0">{{ .Site.Params.footer | safeHTML }}</p>
    <ul class="nav order-1 order-md-1">
      {{ range .Site.Menus.legal -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | relURL }}"><span class="nav-name">{{ .Name }}</span></a>
        </li>
      {{ end -}}
    </ul>
    <!--
      <ul class="nav order-0 order-md-2 ms-md-auto">
        {{ range .Site.Menus.social -}}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relURL }}"><span class="nav-name">{{ .Name }}</span></a>
          </li>
        {{ end -}}
      </ul>
    -->
  </footer>
</div>