<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <p class="monospace">{{ .Site.Params.footer | safeHTML }}</p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <ul class="list-inline">
          {{ range .Site.Menus.social -}}
            <li class="list-inline-item"><a target="_blank" rel="noopener" href="{{ .URL }}">{{- .Name -}}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>  
  </div>
</footer>