{{ $.Scratch.Set "paginator" true -}}
<div class="pagination d-flex justify-content-center sr-only">
  {{ if .Paginator.HasPrev -}}
    <a class="m-3" href="{{ .Paginator.Prev.URL | absURL }}">&larr; Previous</a>
  {{ end -}}
  {{ if .Paginator.HasNext -}}
    <a class="next-page m-3" href="{{ .Paginator.Next.URL | absURL }}">Next &rarr;</a>
  {{ end -}}
</div>
{{ if not .Paginator.HasNext -}}
  {{ .Scratch.Set "d-none" " d-none" -}}
{{ end -}}
<div class="more{{ .Scratch.Get "d-none" }}">
  <button class="btn btn-outline-primary load-more monospace">Load more posts</button>
</div>
<div class="page-load-status">
  <p class="infinite-scroll-request">Loading posts...</p>
  <p class="infinite-scroll-last">All posts loaded</p>
  <p class="infinite-scroll-error">Error loading posts :(</p>
</div>