<div class="row">
  <div class="col-md-7">
    <h2 class="h3">Sign up for my newsletter</h2>
    <form action="/signed-up/" method="post" name="newsletter" data-netlify="true">
      <div class="input-group">
        <input type="email" name="email" placeholder="Email address" aria-label="Email address" aria-describedby="button-addon" required>
        <input type="hidden" name="page" value="{{ .Page.Permalink | absLangURL }}">
        <div class="input-group-append">
          <button type="submit" id="button-addon">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>
