<div class="giscus"></div>

<script>
    function getGiscusTheme() {
        const theme = document.documentElement.getAttribute('data-site-theme');
        const giscusTheme = theme === 'dark' ? 'dark' : 'light';
        return giscusTheme;
    }

    function setGiscusTheme() {
        function sendMessage(message: { setConfig: { theme: string } }) {
            const iframe = document.querySelector('iframe.giscus-frame') as HTMLIFrameElement;
            const window = iframe?.contentWindow;
            if (!!window) {
                iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
            }
        }
        sendMessage({
            setConfig: {
                theme: getGiscusTheme()
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        // document.addEventListener('astro:page-load', function () {
        const giscusAttributes = {
            src: 'https://giscus.app/client.js',
            'data-repo': 'h-enk/henkverlinde.com',
            'data-repo-id': 'MDEwOlJlcG9zaXRvcnkyMTkwNDAyNTM=',
            'data-category': 'Posts',
            'data-category-id': 'DIC_kwDODQ5J_c4CeirK',
            'data-mapping': 'pathname',
            'data-strict': '1',
            'data-reactions-enabled': '1',
            'data-emit-metadata': '0',
            'data-input-position': 'top',
            'data-theme': getGiscusTheme(),
            'data-lang': 'en',
            crossorigin: 'anonymous',
            'data-loading': 'lazy',
            async: ''
        };

        // Dynamically create script tag
        const giscusScript = document.createElement('script');
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.body.appendChild(giscusScript);

        // Update giscus theme when theme switcher is clicked
        const toggle = document.getElementById('theme-toggle');
        if (toggle) {
            toggle.addEventListener('click', setGiscusTheme);
        }
    });
</script>
