---
import { Image } from 'astro:assets';
import type { LocalImageProps, RemoteImageProps } from 'astro:assets';

type Props = LocalImageProps | RemoteImageProps;

const { ...props } = Astro.props;

const width = props.width;
const height = props.height;
---

<div class="glow-image">
  <Image
    {...props}
    loading="eager"
    widths={[578, 841, 1240, 1536, 1600]}
    sizes="(min-width: 1400px) 841px, (min-width: 660px) calc(95vw - 81px), calc(100vw - 82px)"
  />
  <Image
    width={width ? ((typeof width === 'number' ? width : Number.parseInt(width)) / 4) : undefined} 
    height={height ? ((typeof height === 'number' ? height : Number.parseInt(height)) / 4) : undefined}
    {...props}
    class='glow'
    class:list={[props.class]}
    quality={75}
    loading="eager"
  />
</div>
<style>
  .glow-image {
    position: relative;
    width: var(--width);
    height: var(--height);
  }

  .glow-image img {
    position: relative;
    z-index: 1;
  }

  .glow {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 0 !important;
    filter: blur(8px);
  }
</style>