---

---

<button id="theme-toggle" class="w-8 h-8 -mr-2 flex items-center justify-center" aria-label="Change color scheme">
    <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <circle cx="8" cy="8" r="8"></circle>
    </svg>
</button>

<script is:inline>
    // Source: https://scottwillsey.com/theme-flicker/
    const setTheme = () => {
        const themeToggle = document.getElementById('theme-toggle');

        let currentTheme = localStorage.getItem('theme');
        switch (currentTheme) {
            case 'light':
                enableLightTheme();
                break;
            case 'dark':
                enableDarkTheme();
                break;
            default:
                enableDarkTheme();
                break;
        }

        themeToggle.addEventListener('click', () => {
            if (document.documentElement.hasAttribute('data-site-theme')) {
                currentTheme = document.documentElement.getAttribute('data-site-theme');
            }
            toggleTheme(currentTheme);
        });

        function enableDarkTheme() {
            document.documentElement.setAttribute('data-site-theme', 'dark');
            document.documentElement.setAttribute('data-theme', 'github-dark');
            localStorage.setItem('theme', 'dark');
        }

        function enableLightTheme() {
            document.documentElement.setAttribute('data-site-theme', 'light');
            document.documentElement.setAttribute('data-theme', 'github-light');
            localStorage.setItem('theme', 'light');
        }

        function toggleTheme(currentTheme) {
            if (currentTheme) {
                switch (currentTheme) {
                    case 'light':
                        enableDarkTheme();
                        break;
                    case 'dark':
                        enableLightTheme();
                        break;
                    default:
                        enableDarkTheme();
                        break;
                }
            } else {
                enableDarkTheme();
            }
        }
    };

    setTheme();

    document.addEventListener('astro:after-swap', setTheme);
</script>
