{{ define "sidebar-header" }}
<section class="section container-xxl">
  <div class="row">
    <div class="col-lg-11 col-xl-9">
      <h1>{{ .Title }}</h1>
    </div>

    <div class="col-12">
      {{ partial "content/image.html" . }}
    </div>
    <div class="col-lg-6">
      <p>{{ .Description }}</p>
      <p><a class="link-inverse" href="{{ "/products/" | relURL }}">Explore our products <span class="arrow-right"><svg viewBox="0 0 100 100" width="18" height="18"><path d="M53.10 76.90L74.80 53.00L13.60 53.00L13.60 46.40L74.80 46.40L53.10 22.50L57.80 18L86.40 49.70L57.80 81.40Z"></path></svg></span></a></p>
    </div>

  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<!--
<section class="section bg-light">
  <div class="container-xxl">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <p><a class="link-inverse" href="{{ "/products/" | relURL }}">Lorem ipsum dolor  <span class="arrow-right"><svg viewBox="0 0 100 100" width="18" height="18"><path d="M53.10 76.90L74.80 53.00L13.60 53.00L13.60 46.40L74.80 46.40L53.10 22.50L57.80 18L86.40 49.70L57.80 81.40Z"></path></svg></span></a></p>
  </div>
</section>

<section class="section container-xxl">
  <h2 class="h4 fw-normal mt-0">Recent products</h2>
  <div class="row">
    {{ range first 2 (where .Site.RegularPages "Section" "products")  -}}
      <div class="col-md-6">
        <article>
          <a class="single-img" href="{{ .Permalink }}">
            {{ partial "content/image.html" . }}
          </a>
          <h2><a class="single-link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </article>
      </div>
    {{ end -}}
    <div classs="col">
      <p><a class="link-inverse" href="{{ "/products/" | relURL }}">See all products</a></p>
    </div>
  </div>
</section>

<section class="section bg-light">
  <div class="container-xxl">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <p><a class="link-inverse" href="{{ "/products/" | relURL }}">Lorem ipsum dolor</a></p>
  </div>
</section>

<section class="section container-xxl">
  <h2 class="h4 fw-normal mt-0">Latest posts</h2>
  <div class="row">
    {{ range first 3 (where .Site.RegularPages "Section" "blog")  -}}
      <div class="col-md-6 col-lg-4">
        <article>
          <a class="single-img" href="{{ .Permalink }}">
            {{ partial "content/image.html" . }}
          </a>
          <h2><a class="single-link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </article>
      </div>
    {{ end -}}
    <div classs="col">
      <p><a class="link-inverse" href="{{ "/blog/" | relURL }}">See all posts</a></p>
    </div>
  </div>
</section>

<section class="section bg-light">
  <div class="container-xxl">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <p><a class="link-inverse" href="{{ "/products/" | relURL }}">Lorem ipsum dolor</a></p>
  </div>
</section>
-->
{{ end }}
