body.page .main {
  padding-top: 3rem;
}

.main p {
  margin-bottom: 1.5rem;
  font-size: $font-size-base * 1.125;
}

.main p.lead {
  font-size: $font-size-base * 1.25;
  line-height: 1.5;
}

.main .social-menu li {
  font-size: $font-size-base * 1.125;
  line-height: 1.5;
}

.main a {
  border-bottom: 0.0625em solid rgba(45, 55, 65, 0.25);
  color: inherit;
  text-decoration: none;
  transition: all 0.1s linear;
}

.main a:hover {
  border-bottom-color: rgba(45, 55, 65, 0.85);
}

.page-header h1 {
  font-size: $font-size-base * 1.75;
}

.excerpt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {
  .main p {
    margin-bottom: 1.5rem;
    font-size: $font-size-base * 1.25;
  }

  .main p.lead {
    font-size: $font-size-base * 2;
    line-height: 1.4;
  }

  .page-header h1 {
    font-size: $font-size-base * 2.25;
  }
}
