.main p {
  margin-bottom: 1.5rem;
  font-size: $font-size-md;
}

.main p.lead {
  font-size: $font-size-lg;
  line-height: $line-height-base;
}

.main a {
  border-bottom: 0.0625em solid $gray-700;
  color: inherit;
  text-decoration: none;
  transition: all 0.1s linear;
}

.main a:hover {
  border-bottom-color: $gray-900;
}

.page-header h1 {
  font-size: $font-size-xxl;
}

.excerpt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {
  .main p {
    margin-bottom: 1.5rem;
    font-size: $font-size-lg;
  }

  .main p.lead {
    font-size: $font-size-xxxl;
    line-height: $line-height-sm;
  }

  .page-header h1 {
    font-size: $font-size-xxxxl;
  }
}
