.main p.entry-meta {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.posts {
  margin-top: 3rem;
  border-bottom: 0.05rem solid $gray-700;
}

.posts .meta {
  color: $gray-800;
  display: block;
  font-weight: 500;
  font-size: 0.825em;
  letter-spacing: 0.01em;
  margin-top: 0;
  text-transform: uppercase;
}

.posts li {
  border-top: 0.05rem solid $gray-700;
  position: relative;
}

.posts li a {
  font-size: $font-size-md;
  border: none;
  display: block;
  line-height: $line-height-base;
  padding: 1.125rem 0 0.625rem;
  text-decoration: none;
}

.posts .title span {
  font-size: $font-size-md;
  border-bottom: 0.0625em solid transparent;
  transition: border-color 0.1s linear;
}

.posts a:hover .title span {
  border-bottom-color: $gray-900;
}

@include media-breakpoint-up(lg) {
  .main p.entry-meta {
    font-size: $font-size-base;
  }

  .posts li {
    font-size: $font-size-lg;
  }

  .posts li a {
    align-items: baseline;
    display: flex;
    padding: 1.375rem 0 0.875rem;
  }

  .posts li .title {
    flex-grow: 1;
    order: 2;
  }

  .posts .meta {
    flex-shrink: 0;
    margin: 0;
    order: 1;
    width: 6rem;
  }
}

.content .list-navigation {
  margin-top: 3rem;
}
