.main p.entry-meta {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  font-size: $font-size-base * 0.9;
  font-weight: $font-weight-bold;
  font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.posts {
  margin-top: 3rem;
  border-bottom: 0.05rem solid rgba(45, 55, 65, 0.2);
}

.posts .meta {
  color: rgba(45, 55, 65, 0.5);
  display: block;
  font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
  font-variant-caps: small-caps;
  margin-top: -0.25rem;
  text-transform: lowercase;
}

.posts li {
  border-top: 0.05rem solid rgba(45, 55, 65, 0.2);
  position: relative;
}

.posts li a {
  font-size: 1.125rem;
  border: none;
  display: block;
  line-height: 1.5;
  padding: 1.25rem 0 1rem;
  text-decoration: none;
}

.posts h3 {
  font-size: 1.125rem;
}

.posts li h3 span {
  border-bottom: 0.0625em solid transparent;
  transition: border-color 0.1s linear;
}

.posts li a:hover h3 span {
  border-bottom-color: rgba(45, 55, 65, 0.85);
}

@include media-breakpoint-up(lg) {
  .main p.entry-meta {
    font-size: $font-size-base;
  }

  .posts li {
    font-size: 1.25rem;
  }

  .posts li a {
    align-items: baseline;
    display: flex;
    padding: 1.25rem 0 1rem;
  }

  .posts li h3 {
    flex-grow: 1;
    order: 2;
  }

  .posts .meta {
    flex-shrink: 0;
    margin: 0;
    order: 1;
    width: 6rem;
  }
}

.content .list-navigation {
  margin-top: 3rem;
}
