.sidebar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@include media-breakpoint-down(md) {
  .sidebar .social-menu {
    display: none;
  }
}

.sidebar .site-title {
  color: $gray-900;
  font-size: $font-size-lg;
  font-weight: 500;
}

.sidebar .site-title a:hover {
  text-decoration: none;
}

.sidebar .main-menu {
  margin-top: -0.5rem;
}

.sidebar a.nav-link {
  border: none;
  color: $gray-800;
  line-height: $line-height-xs;
  text-decoration: none;
  font-size: $font-size-md;
  padding: 0.5rem 1.25rem 0.5rem 0;
}

.sidebar a.nav-link:hover,
.sidebar a.nav-link.active {
  color: $gray-900;
}

@include media-breakpoint-up(lg) {
  .sidebar {
    position: fixed;
    height: 100%;
    padding: 4.5rem 0 5rem 5rem;
  }

  .sidebar .main-menu {
    margin-top: 5rem;
  }

  .sidebar .site-title {
    font-size: $font-size-xl;
  }

  .sidebar a.nav-link {
    font-size: $font-size-lg;
    padding: 0.5rem 0;
  }
}
