<div class="container-fluid">
  <header class="d-flex flex-column flex-md-row align-items-md-center">
    <a href="{{ "/" | relURL }}" class="me-md-auto text-dark text-decoration-none">
      <span class="site-title">{{ .Site.Params.Title }}</span>
    </a>
    <!--
    <ul class="nav">
      {{- $current := . -}}
      {{ range .Site.Menus.main -}}
        {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
        {{- $active = or $active (eq .Name $current.Title) -}}
        {{- $active = or $active (and (eq .Name "Products") (eq $current.Section "products")) -}}
        {{- $active = or $active (and (eq .Name "News") (eq $current.Section "news" "authors")) -}}
        <li class="nav-item">
          <a class="nav-link{{ if $active }} active{{ end }}"{{ if $active }} aria-current="page"{{ end }} href="{{ .URL | relURL }}"><span class="nav-name">{{ .Name }}</span></a>
        </li>
      {{ end -}}
    </ul>
    -->
  </header>
</div>