<ul class="display-flex flex-wrap tag__items">
  {% for tag in params
    .tags
    .sort() %}
    {% if tag | hasTag('products') %}
    {% else %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li class="tag__item">
        <a class="tag__link" href="{{ tagUrl | url }}">#{{ tag }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
