---
# eleventyNavigation:
#   key: Home
#   order: 1
---

{% extends 'layouts/home.njk' %}

{% if bodyClass is not defined %}
  {% set bodyClass = 'gradient-home' %}
{% endif %}

{% block content %}
  <section class="hero">
    <h1>{{ home.h1 }}</h1>
    <p class="lead h3">{{ home.lead }}</p>
  </section>

  {% set maxProducts = collections.products.length | min(2) %}

  <h2>Recent {% if maxProducts == 1 %}product{% else %}products{% endif %}
  </h2>

  {% set productslist = collections.products | head(-2) | reverse %}
  {% set productslistCounter = collections.products | length %}
  {% include "layouts/partials/products-list.njk" %}

  <p><a class="underline-dashed" href="{{ '/products/' | url }}">Check out all products →</a></p>

  <div class="divider-home"></div>

  {% set maxPosts = collections.posts.length | min(3) %}
  <h2>Latest {% if maxPosts == 1 %}post{% else %}posts{% endif %}
  </h2>

  {% set postslist = collections.posts | head(-3) | reverse %}
  {% set postslistCounter = collections.posts | length %}
  {% include "layouts/partials/posts-list.njk" %}

  <p>More posts can be found in the <a class="underline-dashed" href="{{ '/posts/' | url }}">blog</a>.</p>
{% endblock %}
