<div class="row">
  <div class="col-md-7">
    <h2 class="h3">{{ .Site.Params.newsletterHeader }}</h2>
    <form name="newsletter" method="post" data-netlify="true" action="/signed-up/">
      <div class="input-group">
        <input type="email" name="email" placeholder="Email address" aria-label="Email address" aria-describedby="button-addon" required>
        <input type="hidden" name="page" value="{{ .Page.Permalink | absLangURL }}">
        <div class="input-group-append">
          <button type="submit" id="button-addon">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>
