.tmpl-home {
  min-height: calc(100vh - 92px - 6rem - 55px);

  > :first-child {
    margin-bottom: var(--space-lg-3);
  }

  p {
    max-width: var(--line-length);
  }
}

.gradient-home {
  background-image: url("/assets/images/mesh-gradient-white.webp");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*! purgecss ignore */
.no-webp .gradient-home {
  background-image: url("/assets/images/mesh-gradient-white.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.divider {
  margin: var(--space-sm-4) var(--space-0);

  @include media-query(sm) {
    margin: var(--space-lg-1q) var(--space-0);
  }
}
