@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("fonts/vendor/inter-web/inter-roman.var-subset.woff2") format("woff2");
  unicode-range: U+20, U+27-29, U+2C-2E, U+30-33, U+35, U+37, U+39, U+3C, U+3E, U+40-4A, U+4C-50, U+52-57, U+61-7A, U+A9, U+2014, U+2019, U+2197;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("fonts/vendor/inter-web/inter-italic.var-subset.woff2") format("woff2");
  unicode-range: U+20, U+27-29, U+2C-2E, U+30-33, U+35, U+37, U+39, U+3C, U+3E, U+40-4A, U+4C-50, U+52-57, U+61-7A, U+A9, U+2014, U+2019, U+2197;
}
