@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("fonts/vendor/inter-web/inter-roman.var-subset.woff2") format("woff2");
  unicode-range: U+A, U+20, U+22-24, U+26-59, U+5B-7D, U+A9, U+B7, U+2014, U+2019, U+201C, U+2197, U+26A1, U+FE0F, U+1F389, U+1F680;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("fonts/vendor/inter-web/inter-italic.var-subset.woff2") format("woff2");
  unicode-range: U+A, U+20, U+22-24, U+26-59, U+5B-7D, U+A9, U+B7, U+2014, U+2019, U+201C, U+2197, U+26A1, U+FE0F, U+1F389, U+1F680;
}
