@include media-breakpoint-up(md) {
  .container,
  .container-fluid {
    padding-right: $grid-gutter-width * 2;
    padding-left: $grid-gutter-width * 2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
}

@include media-breakpoint-up(md) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}

a {
  cursor: pointer;
  color: $color-text-primary;
  transition: opacity 0.1s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

.content {
  padding-top: 3rem;
  padding-bottom: 9rem;
}

.content p,
.content li {
  font-size: $font-size-content-body;
  color: $color-text-content-body;
}

.content h1 {
  font-size: $font-size-content-title;
  color: $color-text-content-title;
}

.content h2 {
  font-size: $font-size-content-header2;
  color: $color-text-content-header;
  font-weight: $font-weight-bolder;
}

.content h3 {
  font-size: $font-size-content-header3;
  color: $color-text-content-header;
  font-weight: $font-weight-bolder;
}

.content h4 {
  font-size: $font-size-content-header4;
  color: $color-text-content-header;
  font-weight: $font-weight-bolder;
}

.content a {
  color: $color-text-content-link;
  text-decoration: underline;
}

b,
strong {
  font-weight: $font-weight-bold;
}

.section {
  background: $gray-200;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section p,
.section a {
  margin: 0;
  text-align: center;
}

.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.monospace {
  font-family: $font-family-code;
}

body.main {
  background-color: $main-color-background;
}

body.main .site-title {
  color: $main-color-text;
}

body.main .content p,
body.main .content li {
  font-size: $main-font-size-body;
  color: $main-color-text;
}

body.main .content h1 {
  font-size: $main-font-size-h1;
  color: $main-color-text;
}

body.main .content h2 {
  font-size: $main-font-size-h2;
  color: $main-color-text;
  font-weight: $font-weight-bolder;
}

body.main .content h3 {
  font-size: $main-font-size-h3;
  color: $main-color-text;
  font-weight: $font-weight-bolder;
}

body.main .content h4 {
  font-size: $main-font-size-h4;
  color: $main-color-text;
  font-weight: $font-weight-bolder;
}

body.main .content a {
  color: $main-color-text;
  text-decoration: underline;
}

body.main .nav-text {
  color: $main-color-text;
}

body.main .nav-link {
  color: $main-color-text;
}
